<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette</title>
    <link rel="stylesheet" href="app.css" />
    <style></style>
  </head>
  <body>
    <form id="form" action="palette" method="POST">
      <input type="text" name="query" value="sea shore dawn" />
      <button class="btn" type="submit">Submit</button>
    </form>

    <div class="container"></div>
    <script src="app.js"></script>
  </body>
</html>
